/*
table, th, td{
	border: 1px solid #000;
}

th, td{
	padding: 7px;
}

.nome{
	background-color: red;
}
.email{
	background-color: blue;
}
.telefone{
	background-color: green;
}
.cargo{
	background-color: yellow;
}
*/

/*
div{
	background-color: gray;
	padding: 20px;
	margin-top: 25px;
	margin-left: 15px;
	width: 900px;
	height: 450px;
}

span{
	background-color: #ccc;
	color: red;
}
*/

/*
.formulario{
	background-color: navy;
	color: white;
	width: 350px;
}
*/



